@*@{
    ViewData["Title"] = "Trendyol Entegrasyon";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="alert alert-primary" role="alert">
    <b>@ViewBag.UserName</b> TRENDYOL APİ ENTEGRASYON PROJESİNE HOŞGELDİNİZ
</div>*@
