<!-- Image and text -->

<nav class="navbar navbar-dark bg-custom-2 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="User" asp-action="Login">Free Software</a>
    </div>
</nav>


<style>
    .bg-custom-1 {
        background-color: #85144b;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #0a0a0a 0%, #0d6efd26 100%);
    }
</style>
