@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> usermanager
@{ 
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<hr />
<h3>Trendyol Settigns</h3>