@model LoginDT
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> usermanager

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@if (User.Identity.IsAuthenticated)@*signInManager.IsSignedIn(User)*@
{
    Layout = "_Layout";
    <div class="alert alert-primary" role="alert">
        <b>@ViewBag.UserName</b> TRENDYOL APİ ENTEGRASYON PROJESİNE HOŞGELDİNİZ

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Özgür</td>
                <td>ÇATMAKAŞ</td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    Layout = null;
    <partial name="_Login" />
}
