@page
@model FreeIntegration.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parolanızı sıfırlamak için lütfen mail kutunuzu kontrol ediniz..
</p>
